.form-box {
  row-gap: 20px;
  margin: auto;
  width: 40%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 10px olivedrab;
}

mat-form-field {
  width: 100%;
}

.form {
  background: white;
  padding: 15px;
}

.box {
  padding-top: 15px;
}

mat-icon,
.picker-date {
  color: rgb(65, 128, 52);
}

.picker-date {
  font-size: x-large;
}

.button-create {
  display: flex;
  gap: 20px;
}
