<div class="form-container">
    <div class="form-box">
        <h3>Add New User</h3>
        <div class="form" [formGroup]="formControlGroup">
            <mat-form-field class="form-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="" formControlName="firstName">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </div>
        <div class="form" [formGroup]="formControlGroup">
            <mat-form-field class="form-width" appearance="outline">
                <mat-label>lastName</mat-label>
                <input matInput placeholder="" formControlName="lastName">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </div>
        <div class="form" [formGroup]="formControlGroup">
            <mat-form-field class="form-width" appearance="outline">
                <mat-label>address</mat-label>
                <input matInput placeholder="" formControlName="address">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </div>
        <div class="form-email-phone" [formGroup]="formControlGroup">
            <mat-form-field class="form-width" appearance="outline">
                <mat-label>email</mat-label>
                <input matInput placeholder="" formControlName="email">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <div class="form-email-phone" [formGroup]="formControlGroup">
                <mat-form-field class="form-width" appearance="outline">
                    <mat-label>phone</mat-label>
                    <input matInput placeholder="" formControlName="phone">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="button-user">
            <button mat-raised-button color="warn" (click)="createUser()">Add User</button>
            <button mat-raised-button color="primary" (click)="goBack()">Back</button>
        </div>
    </div>
</div>